<mat-card *ngIf="Donation" class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Donation</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Hours Available:</strong> {{Donation.HoursAvailable}}</p>
    <p><strong>DonationCategory:</strong> {{Donation.DonationCategory}}</p>
    <p><strong>DonorId:</strong> {{Donation.DonorId}}</p>
  </mat-card-content>
  <mat-card-footer class="example-card-footer">
    <mat-chip-set aria-label="Chihuahua traits">
      <mat-chip>Take
        <fa-icon [icon]="faShoppingCart"></fa-icon>
      </mat-chip>
      <mat-chip (click)="toggleLike()">
        Like
        <fa-icon *ngIf="isLiked; else notLiked" [icon]="fasHeart"></fa-icon>
        <ng-template #notLiked>
          <fa-icon [icon]="farHeart"></fa-icon>
        </ng-template>
      </mat-chip>
    </mat-chip-set>
  </mat-card-footer>
</mat-card>
