<p-button class="addDonation" label="Add Donation" icon="pi pi-plus" [rounded]="true" severity="secondary" (click)="openAddDonation()"/>
<p-dialog [(visible)]="displayAddDonation" header="Add Donation" [modal]="true" [closable]="true" [dismissableMask]="true">
    <app-add-donation></app-add-donation>
</p-dialog>
<div class="donation-container">
    <p-card *ngFor="let donation of donations" class="donation-card">
        <ng-template pTemplate="header">
            <img [src]="getImage(donation.donationCategory)" alt="Card" />
        </ng-template>
        <div class="donation-title">DonorId: {{ donation.donorId }}</div>
        <div class="donation-title">HoursAvailable: {{ donation.hoursAvailable}}</div>
        <div class="donation-title">DonationCategory: {{ donation.donationCategory }}</div>
        <!-- <div class="donation-title">DonationCategory: {{ donation.description }}</div> -->
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Like" icon="pi pi-heart" severity="secondary" class="w-full custom-button"></p-button>
                <p-button label="Take" icon="pi pi-check" severity="secondary" class="w-full custom-button"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>