<div class="container">
    <div class="text-container">
        <h5 class="welcome-title">
            <i class="pi pi-clock" style="margin-right: 8px; font-size: 1em"></i>
            Welcome to the 'Time Bank' website!
        </h5>
        We invite you to take part in a unique project
        where everyone can contribute, <br>
        enjoy the benefits of the sharing culture. <br>
        Here you can offer your skills, time, and resources
        for the common good, <br> thereby not only helping others
        but also strengthening the social ties around you. <br>
        Join us today and be part of the change! <br>
        <div class="center">
            <strong> At 'Time Bank' every donation is important!</strong>
            <br>
            <strong> Let's build a world together where every donation counts!</strong>
        </div>
    </div>

    <div class="image-container">
        <img src="/assets/images/Qlock.jpg" alt="Description" class="background-image" />
    </div>
</div>