<h5 class="welcome-title">Welcome to the 'Time Bank' website!</h5>
<div class="welcome-message">
    We invite you to take part in a unique project 
    where everyone can contribute, 
    enjoy the benefits of the sharing culture. <br>
    Here you can offer your skills, time, and resources 
    for the common good, thereby not only helping others 
    but also strengthening the social ties around you. <br>
    At 'Time Bank' every donation is important! <br>
    Join us today and be part of the change! <br>
    Let's build a world together where every donation counts!
</div>
