html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* ביטול פסי גלילה */
}

.container {
    display: flex;
    height: 92vh; /* גובה המיכל - כל גובה המסך */
    overflow: hidden; /* ביטול פסי גלילה עבור המיכל */
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* תמלא את המיכל באופן יחסי ותיחתך אם צריך */
}

.text-container {
    flex: 1;
    text-align: left;
    padding: 0;
    margin-left: 5%;
    margin-top: 5%;
    font-family: "Baloo 2", sans-serif;
    font-size: 1.2em;
    overflow: hidden;
}

.center {
    margin-top: 2%;
    margin-left: 5%;
}

.welcome-title {
    font-family: "Baloo 2", sans-serif;
    font-size: 1.5em;
    color: #444343;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .text-container {
        padding-left: 0;
        text-align: center;
        font-size: 0.9em;
        margin: 2%;
    }

    .image-container {
        display: none;
    }

    .welcome-title {
        font-size: 1.2em;
    }
}
