.donation-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 16px;
  text-align: center;
}

.donation-card {
  padding: 16px;
  border-radius: 8px;
}

.donation-title {
  font-size: 1em;
}

.font-advent {
  font-family: "Advent Pro", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

.font-manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

.font-baloo-2 {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
}

.donation-content {
  margin-top: 8px;
}

.donation-button {
  width: 100%;
}

.flex {
  display: flex;
  gap: 1rem;
}

.w-full {
  width: 100%;
}

.donation-card img {
  margin-top: 20px;
  width: 100%;
  max-width: 140px;
  max-height: 140px;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}

.addDonation {
  margin-left: 45%;
}

.allPage {
  margin-top: 20px !important;
}

.page-layout {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 16px;
}

.p-treeselect .p-treeselect-token {
  display: flex;
  gap: 5px;
}

.w-20rem {
  width: 20rem;
}

.w-30rem {
  width: 30rem;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  padding-top: 16px;
}

.small-image {
  width: 140px;
  height: 140px;
  margin-left: 40px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .page-layout {
    flex-direction: column;
    align-items: center;
  }

  .filter-container {
    width: 100%;
    padding: 8px;
  }

  .donation-container {
    grid-template-columns: 1fr;
  }

  .button-container {
    justify-content: center;
    padding-top: 8px;
  }

  .addDonation {
    margin-left: 0;
  }

  .small-image {
    margin-left: 0;
  }
}

p-iconField {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.chip-container .p-treeselect {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 100%;
}

.chip-container .p-treeselect-token {
  display: inline-flex;
  margin: 4px;
}

.filter-item {
  margin-bottom: 16px;
}

@media (max-width: 600px) {
  .chip-container .p-treeselect-token {
    width: 100%;
  }

  .chip-container {
    gap: 4px;
  }
}

.margin-top {
  margin-top: 16%;
}


@media (max-width: 600px) {
  .p-dialog .font-advent {
    font-size: 1em;
  }
}