<div class="card flex justify-content-center">
  <div class="profile-container">
    <i class="pi pi-user profile-icon"></i>
    <div class="profile-text">
      <strong class="header">{{header}}</strong>
    </div>
  </div>

  <div class="form-container">
    <div class="row">
      <div class="field-container">
        <p-floatLabel>
          <input id="id" type="text" pInputText [(ngModel)]="id" class="custom-input" />
          <label for="id">Id</label>
        </p-floatLabel>
      </div>

      <div class="field-container">
        <p-floatLabel>
          <input id="firstname" type="text" pInputText [(ngModel)]="firstname" class="custom-input" />
          <label for="firstname">First Name</label>
        </p-floatLabel>
      </div>

      <div class="field-container">
        <p-floatLabel>
          <input id="lastname" type="text" pInputText [(ngModel)]="lastname" class="custom-input" />
          <label for="lastname">Last Name</label>
        </p-floatLabel>
      </div>
    </div>

    <div class="row">
      <div class="field-container">
        <p-floatLabel>
          <input id="email" type="email" pInputText [(ngModel)]="email" class="custom-input" />
          <label for="email">Email</label>
        </p-floatLabel>
      </div>

      <div class="field-container">
        <p-floatLabel>
          <input id="phone" type="phone" pInputText [(ngModel)]="phone" class="custom-input" />
          <label for="phone">Phone</label>
        </p-floatLabel>
      </div>

      <div class="field-container">
        <p-floatLabel>
          <p-dropdown id="city" [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City"></p-dropdown>
          <label for="city">City</label>
        </p-floatLabel>
      </div>
    </div>

    <div class="button-container">
      <p-button label="Submit" [outlined]="true" icon="pi pi-check" iconPos="right" (click)="addUser()"
        [disabled]="!id || !firstname || !lastname || !email || !phone || !selectedCity"></p-button>
    </div>
  </div>

  <div *ngIf="isUserAdded" class="success-message">
    {{massage}}
  </div>
</div>