.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 15px;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.profile-icon {
  font-size: 1.5rem;
  color: #007bff;
}

.profile-text {
  display: flex;
  align-items: center;
}

.profile-text strong {
  font-size: 1.2rem;
  color: #333;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.field-container {
  flex: 1;
  max-width: 300px;
  min-width: 200px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.p-floatLabel {
  width: 100%;
}

.success-message {
  color: green;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

.font-advent {
  font-family: "Advent Pro", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

.font-manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

.font-baloo-2 {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
}

@media (max-width: 1024px) {
  .profile-icon {
    font-size: 1.2rem;
  }

  .profile-text strong {
    font-size: 1rem;
  }

  .row {
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .field-container {
    max-width: 100%;
  }

  .button-container {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-text strong {
    font-size: 0.9rem;
  }

  .card {
    gap: 20px;
    padding: 10px;
  }

  .row {
    flex-direction: column;
    gap: 10px;
  }
}
