.card {
    width: 800px; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .field-container {
    margin-bottom: 25px; 
    width: 100%; 
  }
  
  .p-dropdown {
    width: 100%; 
  }
  
  .p-inputtext {
    width: 100%;
  }
  
  .p-float-label label {
    font-size: 16px; 
    color: #333; 
  }
  
  .p-float-label {
    margin-bottom: 10px; 
  }
  .submitDonation{
    margin-left: 85%;
  }

  .success-message {
    color: green;
    margin-top: 10px;
    font-weight: bold;
}
  