<link
    href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Baloo+2:wght@400..800&family=Caveat:wght@400..700&family=Darker+Grotesque:wght@300..900&family=Manrope:wght@200..800&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Baloo+2:wght@400..800&family=Caveat:wght@400..700&family=Darker+Grotesque:wght@300..900&family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
<div class="card" id="top">
    <p-menubar [model]="items" class="darker-grotesque"></p-menubar>

    <p-dialog header="Sign In" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }">
        <div class="dialog-content">
            <span>Please enter your ID to sign in:</span>
            <div class="field-container">
                <p-floatLabel>
                    <input id="id" type="text" pInputText [(ngModel)]="id" />
                    <label for="id"></label>
                </p-floatLabel>
            </div>
        </div>

        <div class="btn">
            <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
            <p-button label="Connect" (onClick)="checkUserId()" />
            <p-button label="Sign Up" (onClick)="signUp()" />
        </div>

        <div *ngIf="showMessage" class="success-message">
            Hello {{ userName }} :)
        </div>
    </p-dialog>
</div>

<p-dialog [(visible)]="sidebarVisible" [modal]="true" [closable]="true" [dismissableMask]="true">
    <app-login *ngIf="!isUserIdValid" (userAdded)="onUserAdded()"></app-login>
</p-dialog>

<div class="card flex justify-content-center">
    <p-dialog [modal]="true" [(visible)]="showContact" [style]="{ width: '50rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
        <p>
            <app-contact-us (closeDialog)="toggleContactDialog()">
            </app-contact-us>
        </p>
    </p-dialog>
</div>

<p-sidebar [(visible)]="showEdit" position="left">
    <ng-container *ngIf="showEdit">
        <app-edit-your-details (closeDialog)="toggleEditDialog()"></app-edit-your-details>
    </ng-container>
</p-sidebar>