<link
  href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Baloo+2:wght@400..800&family=Caveat:wght@400..700&family=Darker+Grotesque:wght@300..900&family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet">
<link
  href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Baloo+2:wght@400..800&family=Caveat:wght@400..700&display=swap"
  rel="stylesheet">
<link
  href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Baloo+2:wght@400..800&family=Caveat:wght@400..700&family=Manrope:wght@200..800&display=swap"
  rel="stylesheet">
<link
  href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Baloo+2:wght@400..800&family=Caveat:wght@400..700&family=Manrope:wght@200..800&display=swap"
  rel="stylesheet">
<app-add-users-manager *ngIf="isAdmin"></app-add-users-manager>
<div class="card-container">
  <div *ngFor="let user of users" class="user-item">
    <p-card class="user-card">
      <div class="card">
        <p-panel [toggleable]="true" [collapsed]="true" expandIcon="pi pi-minus" collapseIcon="pi pi-plus">
          <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
              <i class="pi" [ngClass]="user.role === 'Admin' ? 'pi-shield' : 'pi-user'"></i>
              <strong class="raleway">
                {{ user.firstName + " " + user.lastName }}
              </strong>
            </div>
          </ng-template>
          <ng-template pTemplate="content">
            <div class="raleway">
              <p><strong>Email:</strong> {{ user.email }}</p>
              <p><strong>Phone:</strong> {{ user.phone }}</p>
              <p><strong>City:</strong> {{ user.city }}</p>
            </div>
            <div class="button-container">
              <a [href]="'mailto:' + user.email">
                <p-button icon="pi pi-envelope" [rounded]="true" [text]="true" [raised]="true"
                  (click)="funSendMessage(user.email,user.firstName+' '+user.lastName)" [disabled]="!disableBtn"/>
              </a>
              <a [href]="'tel:' + user.phone">
                <p-button icon="pi pi-phone" [rounded]="true" [text]="true" [raised]="true" [disabled]="!disableBtn"/>
              </a>
              <p-button *ngIf="isAdmin" icon="pi pi-trash" (click)="confirm($event,user.id)" [rounded]="true"
                [text]="true" [raised]="true" />
            </div>
          </ng-template>
        </p-panel>
      </div>
    </p-card>
  </div>
</div>

<div class="card flex justify-content-center gap-2">
  <p-toast />
  <p-confirmDialog />
</div>

<div class="card flex justify-content-center">
  <p-dialog [(visible)]="sendMassage" [modal]="true" [closable]="true">
    <ng-template pTemplate="header">
      <div class="header-container">
        <i class="pi pi-envelope"></i>
        <h6 class="font-advent">Send Message</h6>
      </div>
    </ng-template>
    <div class="p-fluid">
      <div class="p-field">
        <p-floatLabel>
          <textarea id="float-input" rows="5" cols="30" pInputTextarea [(ngModel)]="message"></textarea>
          <label for="float-input"></label>
        </p-floatLabel>
      </div>
    </div>
    <p-footer>
      <div class="button-container">
        <p-button label="Send" icon="pi pi-send" [disabled]="!message"
          (click)="sendEmail(currentUser.email,currentUser.name)"></p-button>
        <p-button label="Cancel" icon="pi pi-times" (click)="toggleSendMessage()" class="p-button-secondary"></p-button>
      </div>
      <div *ngIf="showIsWork" class="success-message">
        {{isWorkMassage}}
      </div>
    </p-footer>
  </p-dialog>
</div>