.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.user-item {
  width: 35%;
  margin-bottom: 1.5%;
  box-sizing: border-box;
}

.card {
  box-shadow: 0px 4px 6px rgba(167, 168, 218, 0.1);
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-size: 90%;
  margin-left: 2%;
}

.font-advent {
  font-family: "Advent Pro", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

.font-manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

.font-baloo-2 {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-container i {
  margin-right: 10px;
}

.custom-dialog .button-container {
  display: flex;
  margin-top: 1px;
  margin-right: 2%;
  align-items: center;
}

.success-message {
  color: green;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

:host ::ng-deep {
  .p-button.p-button-text {
    font-family: "Manrope", sans-serif;
  }
}

@media (max-width: 1024px) {
  .user-item {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .user-item {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .user-item {
    width: 90%;
  }
}
:host ::ng-deep {
  .p-dialog .p-dialog-content {
    font-family: "Advent Pro", sans-serif;
    color: rgb(47, 43, 43);
  }

  .p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
    background: rgb(47, 43, 43) !important;
    color: white !important;
  }

  .p-dialog-title {
    color: rgb(43, 41, 41) !important;
    font-family: "Advent Pro", sans-serif;
  }

  .p-dialog .p-button {
    font-family: "Manrope", sans-serif;
  }
}